@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

.nav{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: black;
    min-width: 100%;
    text-align: center;
    font-family: 'Roboto Mono';
}


a{
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    font-size: 25px;
}

a:link{
    color: white;
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    color: blue;
    text-decoration: none;
}

a:active{
    color: white;
    text-decoration: none;
}