.skills {
    padding-top: 200px;
    height: 500px;
    padding-bottom: 400px;
}

.skills h1{
    text-align: center;
    font-size: 60px;
    padding-bottom: 50px;
    color: white;
}
.skills h1:hover{
    font-size: 65px;
    color:greenyellow;
    padding-bottom: 44px;
}

.skill-box {
    max-width: 600px;

    margin:0;
    padding: 0;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.skill-image {
    margin: 30px;
    transition-duration: 00.09s;
    transform: scale(1.5);
    padding: 10px;
}

.skill-image:hover {
    transform: scale(1.8);
    background-color: rgb(46, 46, 46);
    border-radius: 20px;
}